*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    padding:10px;
    font-size: 24px;
}

p{
    font-size: 12px;
}

header nav{
    font-size: 12px;
    margin-left: 20px;
}

header div.logo,
header .form {
    width: 50%;
    height: 50%;
}

header .form {
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

div.main-article {
    border:1px solid #ebebeb;
    padding-left:15px;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    display: block;
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: auto;
    border-radius: 1px;
    margin: 5px;
    justify-content: center;
}

header ul li{
    
    display: inline-block;
    flex-wrap: initial;
    list-style-type: none;
}

header ul li a{
    

padding:0.5rem 1rem;
text-decoration: none;
    color: #000;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

section.banner img{
    width: 100%;
}

main {
    width: 100%;  
    align-content: center;
}

main section article {
    background-color: #fff;    
    margin: 10px 10px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position:relative;
   /* left:90%;
    top: -15px;*/
}

.description {
    font-size:16px;
}

.price {
    font-size:18px;
}

.discount {
    font-size:16px;
}

footer h4 {
    font-size: 16px;
    text-align: center;
    font-style: normal;
}

footer article {
    font-size: 14px;
    text-align: center;
    font-style: normal; 
}

div.burger-menu i {
    display: block;
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: auto;
    padding: 10px;
    width: 40px;
    text-align: center;
}

div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.Envio i {
    display: block;
    color:#1259c3; 
    text-align: center;
 }

.tarjeta-Credito i {
    display: block;   
    text-align: center;
    color:#1259c3; 
}

.Seguridad i {
    display: block;
    color:#1259c3;
    text-align: center;
}

footer {
    background-color: #FFF;
    margin:auto ,0px;
}

section .tarjeta-Credito i h4 article{
        align-items: center;
}

@media (max-width: 361px){ 
header ul li {
    display: none;
}
    .description{
        display: none;
    }
        
}

@media(min-width: 361px) {
    
    div.burger-menu {
        display: none;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  }

main .register{
    padding:20px;
    }

.input-casilla {
    
    padding:10px;
    margin:auto,0px;
    margin-bottom: 20px;
    margin-top: 20px;
    width:100%;
} 


div.interests {
display:block;
margin:10px;
}

.contraseña{
    padding:10px;
    width: 100%;
    margin:auto,0px;
    margin-bottom: 20px;
    
    margin-right: 10px;
 }

.input-casilla2 {
padding:10px;
margin:auto, 0px;
width:100%;
color:#FFF;
background-color:#0044AA;
border-radius: 4px;
margin-bottom: 20px;
} 

.input-casilla3 {
    display: block;
    padding:10px;
    margin:auto, 0px;
    width:100%;
    color:#FFF;
    background-color:rgb(207, 14, 14);
    border-radius: 4px;
} 

form{
    width: 100vw;
}

.usuario{
  
   width:100vw;
    margin: auto 0px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 4px;
}



.usuario2{
    
    width: 100vw;
    margin: auto 0px;
    padding: 15px;
    border-radius: 4px;
    color:#FFF;
    background-color:#0044AA;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}